.page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  overflow: hidden;
  background: url('/bg.png');
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    overflow: auto;
    background: url('/bgmb.png');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  
  >img {
    position: absolute;
    /* inset: 0; */
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
    pointer-events: none;
    width: 100%;
    height: 100%;
    user-select: none;
  }
  .main {
    width: 100%;
    height: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: clamp(12px, 1.6vh, 24px) clamp(14px, 2.4vw, 40px);
    gap: clamp(12px, 2.2vh, 32px);

    .topRow {
      display: flex;
      justify-content: center;
      place-items: center;
      padding-block: clamp(8px, 1.4vh, 20px);

      img {
        @media (max-width: 768px) {
          width: clamp(140px, 42vw, 200px);
          height: auto;
        }
      }
    }

    .title {
      display: flex;
      justify-content: center;
      place-items: center;
      padding-bottom: clamp(10px, 2vh, 28px);

      h1 {
        font-size: clamp(22px, 3.1vw, 46px);
        line-height: 1.1;
        letter-spacing: -7%;
        font-weight: 300;
        text-align: center;
        color: #C25C00;

        @media (max-width: 768px) {
          font-size: 30px;
        }

        @media (max-width: 768px) {
          br {
            display: none;
          }
        }
        
        b {
          font-weight: 600;
          color: #D89456;
          font-size: inherit;
          letter-spacing: inherit;


        }
      }
    }

    .boxes {
      display: flex;
      gap: clamp(10px, 1.6vw, 18px);
      justify-content: center;
      place-items: center;
      padding-bottom: clamp(10px, 2vh, 28px);

      @media (max-width: 768px) {
        flex-direction: column;
        gap: clamp(10px, 2vh, 16px);
        padding-inline: clamp(12px, 6vw, 20px);
      }

      .box {
        background: linear-gradient(310.71deg, #171008 4.41%, #261A0D 71.7%);
        border: 1px solid #261A0D;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: clamp(18px, 2.4vw, 40px) clamp(18px, 2.4vw, 40px) clamp(18px, 2.4vw, 40px) clamp(16px, 2vw, 32px);
        border-radius: clamp(22px, 5vw, 52px);
        min-height: clamp(200px, 26vh, 300px);
        z-index: 1;
        flex: 1;
        max-width: clamp(260px, 32vw, 420px);
        position: relative;
      
        @media (max-width: 768px) {
          width: 100%;
          max-width: 100%;
          min-height: clamp(170px, 22vh, 230px);
          padding: clamp(22px, 6vw, 33px) clamp(22px, 6vw, 33px) clamp(22px, 6vw, 33px) clamp(18px, 5vw, 26px);
        }

        box-shadow: 0px 9px 20px 0px #0000000A;

        box-shadow: 0px 37px 37px 0px #0000000A;

        box-shadow: 0px 83px 50px 0px #00000005;

        box-shadow: 0px 148px 59px 0px #00000003;

        box-shadow: 0px 231px 65px 0px #00000000;

        p {
          // margin-top: auto;
          line-height: 1.4;
        }

      &:first-of-type {
        img {
          width: 71px;
          height: 71px;

          @media (max-width: 768px) {
            width: 48px;
            height: 48px;
          }

        }

      }
      &:nth-of-type(2) {
        
        img {
          width: 61px;
        height: 65px;

        @media (max-width: 768px) {
          width: 41px;
          height: 44px;
        }
        }

        p {
          max-width: 17ch;
          bottom: 30px;
          position: relative;

          @media (max-width: 768px) {
            bottom: 0;
            max-width: 18ch;
          }
        }
      }

      &:last-of-type {

        p {
          max-width: 13ch;
          position: relative;
          bottom: 30px;
          @media (max-width: 768px) {
            bottom: 0;
            max-width: 15ch;
          }
        }
        img {
          width: 54px;
          height: 66px;

          @media (max-width: 768px) {
            width: 35px;
            height: 44px;
          }
        }
      }
      p {
        font-size: clamp(15px, 1.4vw, 21px);
        font-weight: 400;
        color: #e1e1e1;
        letter-spacing: -7%; 
        max-width: 24ch;
      }
      }

    }

    .bottomRow {
      display: flex;
      flex-direction: column;
      gap: clamp(14px, 2.2vh, 36px);
      justify-content: center;
      place-items: center;

      p {
        color: #C25C00;
        font-size: clamp(20px, 2.6vw, 38px);
        line-height: 1.2;
        color: #C25C00;
        letter-spacing: -7%;
        font-weight: 300;

        @media (max-width: 768px) {
          font-size: 26px;
          max-width: 20ch;
          text-align: center;
        }
      }

      .socials {
        display: flex;
        gap: clamp(12px, 2vw, 24px);
        place-items: center;
       
        img {
          cursor: pointer; 

          @media (max-width: 768px) {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      place-items: center;
      margin-top: auto;
      padding-top: clamp(12px, 2.2vh, 40px);
      gap: clamp(8px, 1.6vw, 16px);

      @media (max-width: 768px) {
        flex-wrap: wrap;
      }

      img:first-of-type {
        width: 51px;
        height: 49px;
      }

      img:last-of-type {
        width: 57px;
        height: 57px;
      }

      p {
        font-size: clamp(12px, 1.1vw, 17px);
        font-weight: 400;
        color: #C19771;

        @media (max-width: 768px) {
          order: 3;
          text-align: center;
          font-size: 14px;
        }
      }
    }


  }
}
